<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <form>
    <input type="hidden" name="someHiddenField" value="someValue" />
    <div class="flex gap-2 mt-5">
        <div class="flex-auto">
            <input type="text" name="title" placeholder="What's next?"
                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm h-full mr-2"
                required />
        </div>
        <div class="flex-auto">
            <input type="date" name="dueDate"
                class="border border-gray-300 rounded text-black-900 w-full h-full p-2 text-sm mr-2"
                required />
        </div>
        <div class="flex-none">
            <button type="submit" class="bg-green-600 text-white px-5 py-2 rounded mr-2">Add</button>
        </div>
    </div>
</form>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  <div class="mx-auto">
      <h5 class="text-lg font-bold mb-4">Overdue </h5>(<span id="count-overdue"><%= overdue.length %></span>)
      <table class="border border-gray-400 my-4 w-full">
          <thead>
              <tr>
                  <th class="border p-2">ID</th>
                  <th class="border p-2">Title</th>
                  <th class="border p-2">Due Date</th>
                  <th class="border p-2">Completed</th>
              </tr>
          </thead>
          <tbody>
              <% overdue.forEach(todo => { %>
                  <tr>
                      <td class="border p-2"><%= todo.dataValues.id %></td>
                      <td class="border p-2"><%= todo.dataValues.title %></td>
                      <td class="border p-2"><%= todo.dataValues.dueDate %></td>
                      <td class="border p-2"><%= todo.dataValues.completed %></td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
  </div>

  <div class="mx-auto">
      <h5 class="text-lg font-bold mb-4">Due Today </h5>(<span id="count-due-today"><%= dueToday.length %></span>)
      <table class="border border-gray-400 my-4 w-full">
          <thead>
              <tr>
                  <th class="border p-2">ID</th>
                  <th class="border p-2">Title</th>
                  <th class="border p-2">Due Date</th>
                  <th class="border p-2">Completed</th>
              </tr>
          </thead>
          <tbody>
              <% dueToday.forEach(todo => { %>
                  <tr>
                      <td class="border p-2"><%= todo.dataValues.id %></td>
                      <td class="border p-2"><%= todo.dataValues.title %></td>
                      <td class="border p-2"><%= todo.dataValues.dueDate %></td>
                      <td class="border p-2"><%= todo.dataValues.completed %></td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
  </div>

  <div class="mx-auto">
      <h5 class="text-lg font-bold mb-4">Due Later </h5>(<span id="count-due-later"><%= dueLater.length %></span>)
      <table class="border border-gray-400 my-4 w-full">
          <thead>
              <tr>
                  <th class="border p-2">ID</th>
                  <th class="border p-2">Title</th>
                  <th class="border p-2">Due Date</th>
                  <th class="border p-2">Completed</th>
              </tr>
          </thead>
          <tbody>
              <% dueLater.forEach(todo => { %>
                  <tr>
                      <td class="border p-2"><%= todo.dataValues.id %></td>
                      <td class="border p-2"><%= todo.dataValues.title %></td>
                      <td class="border p-2"><%= todo.dataValues.dueDate %></td>
                      <td class="border p-2"><%= todo.dataValues.completed %></td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
  </div>
</div>



</body>
</html>